.wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.order-button {
  display: flex;
  width: 180px;
  height: 2.625rem;
  align-items: center;
  padding: 4px 8px;
  gap: 8px;
  border-radius: 8px;
  background: #184fee;
  cursor: pointer;
  border: none;
}

.order-button-text {
  font-size: 1.5rem;
  color: white;
  margin-left: auto;
  margin-right: auto;
}

.icon-wrapper {
  background-color: #275efe;

  position: relative;
  height: 2.625rem;
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  animation-duration: 2s;
}

.order-button:hover > .icon-wrapper {
  animation-name: bounce;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
}
@keyframes bounce {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-7px);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-2px);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}
